#row1{
	height:15vh;
	text-align:center;
	background-color:rgb(40,40,40);
	color:white;
	
}

#row2{
	height:20vh;
	text-align:center;
	background-color:rgb(200,200,200);
}

#row3,#row5{
	background-color:rgb(180,180,180);
}

#row4{
	background-color:rgb(220,220,220);
}

.col-sm-4{
	height:100vh;
	
}
#two
{
  display: none;
}
body
{
background-color: white;	
	
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}